:root {
  --grid-rows: 1;
  --grid-cols: 1;
}

.container {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  border: solid black 1px;
}

.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px auto;
  padding: 10px;
}

.btns > button {
  padding: 5px;
  width: 200px;
}
